//Typography

$base-font-size: !default;
$base-font-family: !default;
$base-line-height:  !default;


//Theme
$primary-color:  !default;
$secondary-color:  !default;
$success-color:  !default;
$error-color:  !default;
$warning-color:  !default;
$info-color:  !default;

// Grid

//Container

//Responsive
//Devices
$big-dp-br:  1800px !default; // Large display - deskptop - 1600px;
$dp-br:  1200px !default; // Medium Devices - Desktop, Ipad pro - 1200px;
$tb-br:  900px !default; // Small Devices - Phablet, tablet - 900px;
$mob-br:  600px !default; // Extra small Devices - Mobile phone - 600px;



